In [1]:
import netCDF4 as nc
import matplotlib.pyplot as plt
from matplotlib.colors import from_levels_and_colors
import numpy as np
from matplotlib import animation
from matplotlib.colors import BoundaryNorm
import matplotlib.colors as cols
import matplotlib as mpl
from mpl_toolkits.basemap import Basemap
from matplotlib import ticker, cm
import seaborn as sns

In [2]:
data1=nc.Dataset('/ihesp/user/xiliangdiao/data/ihespdata/air500/TAUX/CESM_TAU_0291_.nc')
TAUX1 = data1.variables['TAUX'][0,80:160,-220:]
TAUX2 = data1.variables['TAUX'][0,80:160,:160]
TAUX = np.hstack((TAUX1,TAUX2))
lont1 = data1.variables['lon'][-220:]
lont2 = data1.variables['lon'][:160]
lont = np.hstack((lont1,lont2))
latt = data1.variables['lat'][80:160]

a = np.arange(0,80)
import math
#math.cos(math.radians(latt[:,3][399]))
wholedis = np.zeros(80)
for j in a:
    wholedis[j] = 111.34* math.cos(math.radians(latt[j]))

In [3]:
latt

masked_array(data=[-70.  , -69.75, -69.5 , -69.25, -69.  , -68.75, -68.5 ,
                   -68.25, -68.  , -67.75, -67.5 , -67.25, -67.  , -66.75,
                   -66.5 , -66.25, -66.  , -65.75, -65.5 , -65.25, -65.  ,
                   -64.75, -64.5 , -64.25, -64.  , -63.75, -63.5 , -63.25,
                   -63.  , -62.75, -62.5 , -62.25, -62.  , -61.75, -61.5 ,
                   -61.25, -61.  , -60.75, -60.5 , -60.25, -60.  , -59.75,
                   -59.5 , -59.25, -59.  , -58.75, -58.5 , -58.25, -58.  ,
                   -57.75, -57.5 , -57.25, -57.  , -56.75, -56.5 , -56.25,
                   -56.  , -55.75, -55.5 , -55.25, -55.  , -54.75, -54.5 ,
                   -54.25, -54.  , -53.75, -53.5 , -53.25, -53.  , -52.75,
                   -52.5 , -52.25, -52.  , -51.75, -51.5 , -51.25, -51.  ,
                   -50.75, -50.5 , -50.25],
             mask=False,
       fill_value=1e+20)

In [4]:
years = [f"{x:04d}" for x in range(0,1944)]
ii =0
result = np.zeros(1944)

for yy in years:
    data1=nc.Dataset('/ihesp/user/xiliangdiao/data/ihespdata/air500/TAUX/CESM_TAU_'+yy+'_.nc')
    TAUX1 = data1.variables['TAUX'][0,80:160,-220:]
    TAUX2 = data1.variables['TAUX'][0,80:160,:160]
    TAUX = np.hstack((TAUX1,TAUX2))
    lont1 = data1.variables['lon'][-220:]
    lont2 = data1.variables['lon'][:160]
    lont = np.hstack((lont1,lont2))
    latt = data1.variables['lat'][80:160]
    ###### (u2-u1)/(y2-y1)
    a = np.arange(0,79)
    A1= np.zeros([80,380])
    for i in a:
        A1[i,:] = (TAUX[i+1,:]-TAUX[i,:])/(0.25*110.95)
        ###################################
    A3 = A1[0:79,0:379]
        
    result[ii] = np.nanmean(A3)
    ii = ii + 1
    np.savetxt('new338-500new.out',result)

In [5]:
1944/12

162.0

In [6]:
years = [f"{x:04d}" for x in range(0,3720)]
ii =0
result = np.zeros(3720)

for yy in years:
    data1=nc.Dataset('/ihesp/user/xiliangdiao/data/ihespdata/air500/TAUX300/CESM_TAU_'+yy+'_.nc')
    TAUX1 = data1.variables['TAUX'][0,80:160,-220:]
    TAUX2 = data1.variables['TAUX'][0,80:160,:160]
    TAUX = np.hstack((TAUX1,TAUX2))
    lont1 = data1.variables['lon'][-220:]
    lont2 = data1.variables['lon'][:160]
    lont = np.hstack((lont1,lont2))
    latt = data1.variables['lat'][80:160]
    ###### (u2-u1)/(y2-y1)
    a = np.arange(0,79)
    A1= np.zeros([80,380])
    for i in a:
        A1[i,:] = (TAUX[i+1,:]-TAUX[i,:])/(0.25*110.95)
        ###################################
    A3 = A1[0:79,0:379]
        
    result[ii] = np.nanmean(A3)
    ii = ii + 1
    np.savetxt('new20-330new.out',result)

In [7]:
3720/12

310.0

In [8]:
years = [f"{x:04d}" for x in range(0,96)]
ii =0
result = np.zeros(96)
# here PSL is TAUX !!!!!!!
for yy in years:
    data1=nc.Dataset('/scratch/user/xiliangdiao/firstpaper/TAUX/CESM_PSL_'+yy+'_.nc')
    TAUX1 = data1.variables['PSL'][0,80:160,-220:]
    TAUX2 = data1.variables['PSL'][0,80:160,:160]
    TAUX = np.hstack((TAUX1,TAUX2))
    lont1 = data1.variables['lon'][-220:]
    lont2 = data1.variables['lon'][:160]
    lont = np.hstack((lont1,lont2))
    latt = data1.variables['lat'][80:160]
    ###### (u2-u1)/(y2-y1)
    a = np.arange(0,79)
    A1= np.zeros([80,380])
    for i in a:
        A1[i,:] = (TAUX[i+1,:]-TAUX[i,:])/(0.25*110.95)
        ###################################
    A3 = A1[0:79,0:379]
        
    result[ii] = np.nanmean(A3)
    ii = ii + 1
    np.savetxt('new330-338new.out',result)

In [9]:
result.shape

(96,)

In [37]:
years = [f"{x:04d}" for x in range(0,3720)]
ii =0
result = np.zeros(3720)

for yy in years:    
    data2=nc.Dataset('/ihesp/user/xiliangdiao/data/ihespdata/air500/TAUY300/CESM_TAUY_'+yy+'_.nc')
    TAUY1 = data2.variables['TAUY'][0,107:157,-220:]
    TAUY2 = data2.variables['TAUY'][0,107:157,:160]
    TAUY = np.hstack((TAUY1,TAUY2))

        ####################################
        ###### (v2-v1)/(x2-x1)
    b = np.arange(0,379)
    A2= np.zeros([50,380])
    for i in b:
        A2[:,i] = (TAUY[:,i+1]-TAUY[:,i])/(0.25*wholedis[j])
        #####################################
    A3 = A2[0:49,0:379]
        
    result[ii] = np.nanmean(A3)
        
    ii = ii + 1
#********************************************************************
    np.savetxt('TAUY20-330new.out',result)

In [11]:
result.shape

(3719,)

In [40]:
years = [f"{x:04d}" for x in range(0,1955)]
ii =0
result = np.zeros(1955)

for yy in years:    
    data2=nc.Dataset('/ihesp/user/xiliangdiao/data/ihespdata/air500/TAUY/CESM_TAUY_'+yy+'_.nc')
    TAUY1 = data2.variables['TAUY'][0,107:157,-220:]
    TAUY2 = data2.variables['TAUY'][0,107:157,:160]
    TAUY = np.hstack((TAUY1,TAUY2))

        ####################################
        ###### (v2-v1)/(x2-x1)
    b = np.arange(0,379)
    A2= np.zeros([50,380])
    for i in b:
        A2[:,i] = (TAUY[:,i+1]-TAUY[:,i])/(0.25*wholedis[j])
        #####################################
    A3 = A2[0:49,0:379]
        
    result[ii] = np.nanmean(A3)
        
    ii = ii + 1
#********************************************************************
    np.savetxt('TAUY338-500new.out',result)

In [41]:
1944/12

162.0

In [42]:
years = [f"{x:04d}" for x in range(0,96)]
ii =0
result = np.zeros(96)

for yy in years:    
    data2=nc.Dataset('/scratch/user/xiliangdiao/firstpaper/TAUY/CESM_PSL_'+yy+'_.nc')
    TAUY1 = data2.variables['PSL'][0,107:157,-220:]
    TAUY2 = data2.variables['PSL'][0,80:160,:160]
    TAUY = np.hstack((TAUY1,TAUY2))

        ####################################
        ###### (v2-v1)/(x2-x1)
    b = np.arange(0,379)
    A2= np.zeros([80,380])
    for i in b:
        A2[:,i] = (TAUY[:,i+1]-TAUY[:,i])/(0.25*wholedis[j])
        #####################################
    A3 = A2[0:79,0:379]
        
    result[ii] = np.nanmean(A3)
        
    ii = ii + 1
#********************************************************************
    np.savetxt('TAUY330-338new.out',result)

ValueError: could not broadcast input array from shape (50) into shape (5)

In [ ]:
result.shape